body {
  padding-top: 60px;  /* sesuaikan dengan tinggi navbar-top */
}

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Biar background putih */
  min-height: 100vh;
}

.navbar-top-right-list {
  display: flex;
  list-style: none; /* buang bullet */
  gap: 60px;
  justify-content: flex-end;
  align-items: center;
}

.navbar-top-right-list li {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.navbar-top {
  position: fixed;       /* <- biar nempel ke atas */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;         /* <- biar gak ketutupan */
  background: linear-gradient(to right, #827DFF, #130f5d); /* warna contoh */
  padding: 0px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.navbar-top-right-list li {
  position: relative;
  padding-bottom: 1px; /* kasih ruang buat garis bawah */
}

.navbar-top-right-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white; /* warna garis bawah */
  transition: width 0.3s ease-in-out;
}

.navbar-top-right-list li:hover::after {
  width: 100%; /* garis bawah muncul saat hover */
}

.navbar-middle {
  position: fixed; /* tetap di atas */
  top: 60px; /* sesuaikan dengan tinggi navbar-top */
  left: 0;
  width: 100%;
  z-index: 999; /* di bawah navbar-top */
  background-color: white; /* warna latar belakang */
  padding: 10px 5px;
}

.navbar-middle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.navbar-middle-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-middle-right-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.navbar-middle-right-list li {
  font-size: 14px;
  color: #444;
  cursor: pointer;
  transition: color 0.2s ease;
}

.navbar-middle-right-list li:hover {
  color: #000;
  text-decoration: underline;
}

.sign-up-button {
  padding: 8px 16px;
  background: linear-gradient(to right, #2F27CE, #433BFF);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sign-up-button:hover {
  opacity: 0.9;
}

.navbar-middle-left {
  display: flex;
  align-items: center;
}

.logo-icon img {
  height: 37px;
  width: auto;
  margin-left: 20px;
  margin-top: 15px;
}



