
.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 1440px;
}
.signup-logo-container,
.navsign-top {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1300px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.signup-logo-img,
.logo-signup {
  height: 40px;
}

.signup-form-wrapper {
  margin-top: 30px;
  width: 100%;
  max-width: 420px;
  padding: 0 20px;
  text-align: center;
}

.signup-title {
  color: #4338ca;
  font-weight: bold;
  font-size: 30px;
}

.signup-subtitle {
  color: #666;
  margin-bottom: 30px;
  font-size: 14px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  color: black;
}



.signup-form label {
  font-weight: 500;
  font-size: 14px;
}

.signup-form input,
.signup-form select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  color: black;
}

.signup-form small {
  font-size: 12px;
  color: #888;
  margin-top: -8px;
  margin-bottom: 10px;
}

.phone-input {
  display: flex;
  gap: 6px;
}

.phone-input select {
  width: 40%;
}

.phone-input input {
  width: 60%;
  background-color: white;
  color: black;
}

.checkbox-wrapper {
  display: flex;
  align-items: flex-start;
  font-size: 13px;
  margin-top: 10px;
}

.checkbox-wrapper label{
    padding-right: 50px;
}

.signup-btn {
  margin-top: 10px;
  background-color: #4338ca;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.signup-btn:hover {
  background-color: #3730a3;
}


.signup-footer {
  margin-top: 20px;
  font-size: 13px;
  color: black;
}

.signup-footer a {
  color: #4338ca;
  text-decoration: none;
}

.signup-footer-links {
  margin-top: 50px;
  text-align: center;
  font-size: 13px;
  color: #999;
  border-top: 1px solid #eee;
  padding: 20px;
}

.signup-footer-links img {
  height: 30px;
  margin-bottom: 10px;
}

.signup-footer-links .footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 8px;
}

.signup-footer-links .footer-links a {
  color: #4338ca;
  text-decoration: none;
  font-weight: 500;
}
